{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %}</title>
    <!--<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>-->

    <link rel="stylesheet" type="text/css" href="{% static 'book/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy">
    <link rel="stylesheet" type="text/css" href="{% static 'book/style.css' %}"  >
    <!-- <link rel="stylesheet" type="text/css" href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css">!-->

    <script src="{% static 'book/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'book/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'book/js/main.js' %}"></script>
    <!--<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>!-->
    <script>
            {% if messages %}
                {% for message in messages %}
                    alert('{{message}}');
                {% endfor %}
            {% endif %}
     </script>
</head>

<body>

<form action="/logout" method="get">
    <button type="submit">LOGOUT</button>
</form>

{% block body %}

{% endblock %}

<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
 </script>

</body>
</html>