{% extends 'book/base.html' %}
{% load static %}

{% block title %}QRCodes List{% endblock %}
{% block style %}
<style type="text/css">

        td{
            padding:15px;
            font-size:16px;
            text-align:center;

            }
        th{
            padding:15px;
            font-size:20px;
            text-align:center;
            }
         table{
            border:black 3px solid;
            margin:30px auto;
         }

    </style>
{% endblock %}
{% block body %}

<h1>List of QR codes registered</h1>

<form action="/create_post/" method="POST" id="post-form">
    <button type="submit" id="searchButton">TEST</button>
</form>

<table border="black 4px solid" >
    <tr>
        <th>Name</th>
        <th>     Date of arrival   </th>
        <th>     Time of arrival   </th>
        <th>     Vehicle number    </th>
        <th>     Email id          </th>
    </tr>
    {% for item in qrs %}
    <tr>
        <td>{{ item.name }}</td>
        <td>  {{ item.date    }}</td>
        <td>  {{ item.time  }} </td>
        <td>  {{ item.vehicleNumber }}</td>
        <td>  {{ item.emailid     }}  </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block script %}
<script src="{% static 'book/scripts/main.js' %}"></script>
{% endblock %}


